.image {
    width: 180px;
    height: 130px;
    margin-bottom: 20px;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.bcgBlock {
    border: 2px solid #5d5b5b;
    border-radius: 10px;
    background-color: #f1f1f1;
    width: 500px;
    padding: 40px;
}

.wrapBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    font-size: 17px;
    margin-bottom: 20px;
}

.innerBlock {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 17px;
    justify-content: center;
}

.button {
    width: 150px;
    padding: 5px 0 5px 0;
    background-color: #4579d8;
    color: #dfdfdf;
    border: 1px solid #4343e4;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}

.grayText {
    color: #5d5b5b;
    font-weight: 700;
    text-transform: uppercase;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttonBlock {
    display: flex;
    gap: 20px;
}

.innerButtonBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
}