.mainBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.innerDiv {
    display: flex;
    gap: 25px;
}

.options {
    width: 300px;
    height: 30px;
}

.sendButton {
    width: 150px;
    height: 30px;
    background-color: cornflowerblue;
    color: white;
    border: 1px solid #3535e8;
    border-radius: 10px;
}